<a href="https://www.facebook.com/ProseMedia/" target="_blank"><i
        class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
<a href="https://blog.prosemedia.com/" target="_blank"><i class="fa fa-share-alt w3-hover-text-purple"></i></a>
<a href="https://www.pinterest.com/prosemedia/" target="_blank"><i class="fa fa-pinterest-p w3-hover-text-red"></i></a>
<a href="https://www.youtube.com/user/ProseMedia" target="_blank"><i class="fa fa-youtube w3-hover-text-red"></i></a>
<a href="https://twitter.com/prose" target="_blank"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>
<a href="https://www.linkedin.com/company/prose" target="_blank"><i class="fa fa-linkedin w3-hover-text-indigo"></i></a>